<%- include('user-header'); %>
<%- include('user-sidemenu'); %>
<!-- Content
	================================================== -->
	<div class="dashboard-content">
        <div class="row">
            <div class="col-md-12">
                <br>
                Property Entry : 75%
                <div id="progress-bar" style="width:75%;"></div>
                 
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12">

				<div id="add-listing">

				<!-- Section -->
					<div class="add-listing-section margin-top-30">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-picture"></i> Provide additional details about your property to get maximum visibilty.</h3>
						</div>
						<form action="/property/update-amenities" method="post" id="update_amenities_details">
						<!-- Row -->
						<div class="row with-forms">

							<div class="col-md-4">
								<h5>Bathroom(s) <span>*</span></h5>
								<input type="text" name="bathroom" id="bathroom" placeholder="No of Bathroom">
							</div>

							<div class="col-md-4">
								<h5>Balcony <span>(optional)</span></h5>
								<input type="text" name="balcony" id="balcony" placeholder="No of Balcony">
								<input type="hidden" name="property_id" value="<%=obj.property_id%>">
							</div>

							<div class="col-md-4">
								<h5>Water Supply <span></span></h5>
								<select name="water_supply" id="water_supply">
									<option value="">Select</option>
									<% for(var a=0;a<obj.water.length;a++){ %>
									<option value="<%=obj.water[a].water_supply_id%>"><%=obj.water[a].option_value%></option>
									<% } %>
								</select>
							</div>
							
						</div>
						<div class="row with-forms">

							<div class="col-md-4">
								<h5>Gym <span>*</span></h5>
								<select name="gym" id="gym">
									<option value="">Select</option>
									<option value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</div>

							<div class="col-md-4">
								<h5>Power Backup <span>*</span></h5>
								<select  name="power" id="power">
									<option value="">Select</option>
									<option value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</div>

							<div class="col-md-4">
								<h5>Gated Security <span></span></h5>
								<select  name="security" id="security">
									<option value="">Select</option>
									<option value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</div>
							
						</div>
						
						<div class="row with-forms">

							<div class="col-md-4">
								<h5>Who will show the house?<span>*</span></h5>
								<select name="whoshow" id="whoshow">
									<option value="">Select</option>
									<% for(var a=0;a<obj.whoshow.length;a++){ %>
									<option value="<%=obj.whoshow[a].who_show_house_id%>"><%=obj.whoshow[a].option_value%></option>
									<% } %>
								</select>
							</div>

							<div class="col-md-4">
								<h5>Secondary Number  <span></span></h5>
								<input type="text" name="sec_number" id="sec_number" placeholder="Secondary Number ">
							</div>
							
						</div>
						<!-- Row / End -->
						
							<!-- Checkboxes -->
						<h5 class="margin-top-30 margin-bottom-10">Select the amenities available<span></span></h5>
						<div class="checkboxes in-row margin-bottom-20">
							<%for(var a=0;a<obj.amenities.length;a++){%>
							<input id="check<%=a%>" type="checkbox" name="amenities" value="<%=obj.amenities[a].amenities_head_id%>">
							<label for="check<%=a%>"><%=obj.amenities[a].amenities_head%></label>
							<% } %>
						</div>
						<!-- Checkboxes / End -->
							<button type="submit" id="sbt_btn" class="button preview pull-right">Submit <i class="fa fa-arrow-circle-right"></i></button>
					</div>
					<!-- Section / End -->
					</form>
					</div>
					<!-- Section / End -->
				</div>
			</div>
			<script>
				$('document').ready(function(){
				$('#sbt_btn').on('click',function(e){
				e.preventDefault();
				$('#update_amenities_details').submit();
				});
				});
			</script> 

<%- include('user-footer'); %>