<!DOCTYPE html>
<head>

<!-- Basic Page Needs
================================================== -->
<title><%=title%></title>
<link rel="shortcut icon" href="images/house-logo.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/main-color.css" id="colors">

</head>

<body class="transparent-header">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="/"><img src="images/logo2.png" data-sticky-logo="images/logo.png" alt=""></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">
                                    <li>
                                        <a href="#">Commercial</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="tenant-plan">Tenant Plans</a>
                                            </li>
                                            <li>
                                                <a href="owner-plan">Owner Plans</a>
                                            </li>                                            
                                            <li>
                                                <a href="buyer-plan">Buyer Plan</a>
                                            </li>                                            
                                            <li>
                                                <a href="seller-plan">Seller Plan</a>
                                            </li>                                            
                                            
                                        </ul>
                                        
                                    </li>
                                    <li>
                                        <a href="agreement">Agreement</a>
                                        
                                    </li>
                                    <li>
                                        <a href="#">Rent Receipts</a>
                                        
                                    </li>
                                    <li>
                                        <a href="#">Packers & Movers</a>
                                    </li>
                                    
                                   <li>
                                        <a href="corporate">Corporate</a>
                                    </li>
                                   
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<!-- Right Side Content / End -->
			<div class="right-side">
				<div class="header-widget">
					<a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i> Sign In</a>
					<a href="post-property" class="button border with-icon">Post Property </a>
				</div>
			</div>
			<!-- Right Side Content / End -->

			<!-- Sign In Popup -->
			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>Sign In</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">
					<ul class="tabs-nav">
						<li class=""><a href="#tab1">Log In</a></li>
						<li><a href="#tab2">Register</a></li>
					</ul>
					<div class="tabs-container alt">
						<!-- Login -->
						<div class="tab-content" id="tab1" style="display: none;">
							<form method="post" id="login_tab" action="/auth">
								<p class="form-row form-row-wide">
									<label for="mobileno2">Mobileno:
										<i class="im im-icon-Male"></i>
										<input type="text" class="input-text" name="mobileno2" id="mobileno2" value="" />
									</label>
								</p>
								<span class="login_username" style="color: black;"></span>
								<p class="form-row form-row-wide">
									<label for="password">Password:
										<i class="im im-icon-Lock-2"></i>
										<input class="input-text" type="password" name="password" id="password"/>
									</label>
									<span class="login_password" style="color: black;"></span>
									<span class="lost_password" style="float: right;">
										<a href="lost-password" >Lost Your Password?</a>
									</span>
								</p>
								<div class="form-row">
									<button type="submit" id="login" class="button border margin-top-5">Login</button>
									<!--<div class="checkboxes margin-top-10">
										<input id="remember-me" type="checkbox" name="check">
										<label for="remember-me">Remember Me</label>
									</div>-->
								</div>
							</form>
						</div>

						<!-- Register -->
						<div class="tab-content" id="tab2" style="display: none;">

							<form method="post" class="register" action="/register" id="register">
								
							<p class="form-row form-row-wide">
								<label for="username2">Name:
									<i class="im im-icon-Male"></i>
									<input type="text" class="input-text" name="username" id="username2" value="" />
								</label>
							</p>
							<span class="reg_username" style="color: black;"></span>	
							<p class="form-row form-row-wide">
								<label for="email2">Email Address:
									<i class="im im-icon-Mail"></i>
									<input type="text" class="input-text" name="email2" id="email2" value="" />
								</label>
							</p>
							<span class="reg_email" style="color: black;"></span>
							<p class="form-row form-row-wide">
								<label for="mobileno">Mobile No:
									<i class="im im-icon-Mail"></i>
									<input type="text" class="input-text" name="mobileno" id="mobileno" value="" />
								</label>
							</p>
							<span class="reg_mob" style="color: black;"></span>
							<p class="form-row form-row-wide">
								<label for="password1">Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password1" id="password1"/>
								</label>
							</p>
							<span class="reg_password" style="color: black;"></span>
							<p class="form-row form-row-wide">
								<label for="password2">Repeat Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password2" id="password2"/>
								</label>
							</p>
							<span class="reg_cpassword" style="color: black;"></span>
							<span class="reg_ecpassword" style="color: black;"></span>
							<button type="submit" id="reg_btn" class="button border fw margin-top-10">Register</button>
							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- Sign In Popup / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Banner
================================================== -->
<div class="main-search-container centered" data-background-image="images/main-search-background-01.jpg">
	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>
                    <!-- Typed words can be configured in script settings at the bottom of this HTML file -->
						<span class="typed-words"></span>
						Your Property with Us
						
					</h2>
					<h4>Find your requirement</h4>
					<div class="highlighted-categories">
						<!-- Box -->
						<a class="highlighted-category buy-search">
					    	<h4>Buy</h4>
						</a>	

						<!-- Box -->
						<a class="highlighted-category">
					    	<h4>Sell</h4>
						</a>	

						<!-- Box -->
						<a class="highlighted-category">
					    	<h4>Commercial</h4>
						</a>	
					</div>
					<form action="/search" method="post">
					<div class="main-search-input">
						<div class="main-search-input-item">
							<select data-placeholder="Property Type" class="chosen-select" name="property_type">
								<%for(var a=0;a<obj.property_type.length;a++){%>
								<option value="<%=obj.property_type[a].property_type_id %>"><%=obj.property_type[a].property_type%></option>
								<% } %>
							</select>
						</div>
						<div class="main-search-input-item">
							<select data-placeholder="BHK Type" class="chosen-select" name="bhk_type">
								<option value="">Select BHK Type</option>
								<%for(var a=0;a<obj.bhk_type.length;a++){%>
								<option value="<%=obj.bhk_type[a].bhk_type_id %>"><%=obj.bhk_type[a].bhk_type%></option>
								<% } %>
							</select>
						</div>
						<div class="main-search-input-item location">
							<div id="autocomplete-container">
								<input id="autocomplete-input" type="text" placeholder="Location">
							</div>
							<a href="#"><i class="fa fa-map-marker"></i></a>
						</div>
						<button type="submit" class="button" >Search</button>
					</div>
					</form>
				</div>
			</div>
			
			<!-- Features Categories -->
			<div class="row">
				<div class="col-md-12">
					<h5 class="highlighted-categories-headline"><a href="post-property" style="color:#fff;">Post your property</a></h5>
					  
					</div>
			</div>
			<!-- Featured Categories - End -->

		</div>

	</div>
</div>
<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				<strong class="headline-with-separator">Popular Categories</strong>
			</h3>
		</div>

		<div class="col-md-12">
			<div class="categories-boxes-container margin-top-5 margin-bottom-30">
				
				<!-- Box -->
				<a href="home-loan" class="category-small-box">
					<i class="im im-icon-Money-Bag"></i>
					<h4>Home Loans</h4>
					<span class="category-box-counter">12</span>
				</a>

				<!-- Box -->
				<a href="legal-service" class="category-small-box">
					<i class="fa fa-legal"></i>
					<h4>Legal Services</h4>
					<span class="category-box-counter">32</span>
				</a>

				<!-- Box -->
				<a href="agreement" class="category-small-box">
					<i class="im im-icon-Notepad"></i>
					<h4>Agreements</h4>
					<span class="category-box-counter">11</span>
				</a>

				<!-- Box -->
				<a href="#" class="category-small-box">
					<i class="fa fa-users"></i>
					<h4>Flatmates</h4>
					<span class="category-box-counter">15</span>
				</a>

				<!-- Box -->
				<a href="refer-n-earn" class="category-small-box">
					<i class="im im-icon-Truck"></i>
					<h4>Refer & Earn</h4>
					<span class="category-box-counter">21</span>
				</a>

				<!-- Box -->
				<a href="builder" class="category-small-box">
					<i class="fa fa-archive"></i>
					<h4>Builder Projects</h4>
					<span class="category-box-counter">28</span>
				</a>

			</div>
		</div>
	</div>
</div>
<!-- Category Boxes / End -->
<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					<strong class="headline-with-separator">Why Choose Us</strong>
					<span>you found everything here regarding renting / selling property.</span>
				</h3>
			</div>

			<div class="col-md-12">
<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fa fa-cut"></i>
				<h3>No Brokerage</h3>
				<p>Direct connect to Party. No need to talk Brokers</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Mail-withAtSign"></i>
				<h3>Agreements</h3>
				<p>Agreements / Paper work will send at your Doorstep.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="im im-icon-Checked-User"></i>
				<h3>Verified Tenants/Seller</h3>
				<p>Second Party will be verified by our Task Managers.</p>
			</div>
		</div>
	</div>				
				
			</div>

		</div>
	</div>

</section>
<!-- Fullwidth Section / End -->
<section class="fullwidth padding-top-75 padding-bottom-30" data-background-color="#fff">
	<!-- Info Section -->
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="headline centered headline-extra-spacing">
					<strong class="headline-with-separator">What Our Users Say</strong>
					<span class="margin-top-25">We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</span>
				</h3>
			</div>
		</div>

	</div>
	<!-- Info Section / End -->

	<!-- Categories Carousel -->
	<div class="fullwidth-carousel-container margin-top-20 no-dots">
		<div class="testimonial-carousel testimonials">

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation is on the runway heading towards a streamlined cloud solution user generated content.</div>
				</div>
				<div class="testimonial-author">
					<img src="images/happy-client-01.jpg" alt="">
					<h4>Sudhir Chauhan <span>Property(Villa) Owner</span></h4>
				</div>
			</div>
			
			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop.</div>
				</div>
				<div class="testimonial-author">
					<img src="images/happy-client-02.jpg" alt="">
					<h4>Tom Baker <span>Clothing Store Owner</span></h4>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view.</div>
				</div>
				<div class="testimonial-author">
					<img src="images/happy-client-03.jpg" alt="">
					<h4>Jack Paden <span>Restaurant Owner</span></h4>
				</div>
			</div>

		</div>
	</div>
	<!-- Categories Carousel / End -->

</section>
<!-- Info Section -->
<section class="fullwidth padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="headline centered headline-extra-spacing">
				<strong class="headline-with-separator">For Project Builders</strong>
				<span class="margin-top-25">Get in touch with us to sell or rent your Projects.</span>
			</h3>
            <div class="headline centered">
            <a href="builder" class="button medium"><i class="sl sl-icon-layers"></i> Enquire Now</a>
            </div>
		</div>
	</div>
</div>
</section>
<!-- Info Section / End -->
<!-- Recent Blog Posts --><!-- Recent Blog Posts / End -->
<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<img class="footer-logo" src="images/logo.png" alt="">
				<br><br>
				<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>Helpful Links</h4>
				<ul class="footer-links">
					<li><a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim">Login</a></li>
					<li><a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim">Sign Up</a></li>
					<li><a href="career">Careers</a></li>
					<li><a href="privacy_policy">Privacy Policy</a></li>
					<li><a href="term_condition">Term & Condition</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="faq">FAQ</a></li>
					<li><a href="blog">Blog</a></li>
					<li><a href="about">About Us</a></li>
					<li><a href="#">How It Works</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

			<div class="col-md-3  col-sm-12">
				<h4>Contact Us</h4>
				<div class="text-widget">
					<span>12345 Little Lonsdale St, Melbourne</span> <br>
					Phone: <span>(123) 123-456 </span><br>
					E-Mail:<span> <a href="#"><span class="__cf_email__" data-cfemail="e9868f8f808a8ca98c91888499858cc78a8684">[email&#160;protected]</span></a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
				</ul>

			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2020 NoBrokerr. All Rights Reserved.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
</div>
<!-- Wrapper / End -->
<!-- Scripts
================================================== -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-migrate-3.1.0.min.js"></script>
<script type="text/javascript" src="scripts/mmenu.min.js"></script>
<script type="text/javascript" src="scripts/chosen.min.js"></script>
<script type="text/javascript" src="scripts/slick.min.js"></script>
<script type="text/javascript" src="scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="scripts/waypoints.min.js"></script>
<script type="text/javascript" src="scripts/counterup.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="scripts/tooltips.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>


<!-- Leaflet // Docs: https://leafletjs.com/ -->
<script src="scripts/leaflet.min.js"></script>

<!-- Leaflet Maps Scripts -->
<script src="scripts/leaflet-markercluster.min.js"></script>
<script src="scripts/leaflet-gesture-handling.min.js"></script>
<script src="scripts/leaflet-listeo.js"></script>

<!-- Leaflet Geocoder + Search Autocomplete // Docs: https://github.com/perliedman/leaflet-control-geocoder -->
<script src="scripts/leaflet-autocomplete.js"></script>
<script src="scripts/leaflet-control-geocoder.js"></script>
<!-- Typed Script -->
<script type="text/javascript" src="scripts/typed.js"></script>
<script>
var typed = new Typed('.typed-words', {
strings: ["Lease","Sell"," Rent"],
	typeSpeed: 80,
	backSpeed: 80,
	backDelay: 4000,
	startDelay: 1000,
	loop: true,
	showCursor: true
});
</script>
<script>
	$('document').ready(function(){
		$('#login').on('click',function(e){
			e.preventDefault();
			var username = $('#mobileno2').val();
			var password = $('#password').val();

			if(username==''){
			$('#mobileno2').focus();
			$('.login_username').delay(2000).fadeOut('slow');
			$('.login_username').html('Enter Mobile Number');
			return false;
			}
			else if(password==''){
			$('#password').focus();
			$('.login_password').delay(2000).fadeOut('slow');
			$('.login_password').html('Enter Password')	;
			return false;
			}
			else{
				var datastr={mobileno2:username,password:password};
				jQuery.ajax({
					url: '/auth',
					type: 'post',
					data: datastr,
					success: function(data){
					if(data === 'login'){
						setTimeout(function () {
						url = "/dashboard";
						$(location).attr("href", url)
						}, 500);
					}
					else{
					//$('.login_password').delay(3000).hide('slow');
					$('.login_password').html('Incorrect Username and/or Password!')	;	
					}		
					}  
				});
			}
		});

		$('#reg_btn').on('click',function(e){
			e.preventDefault();
			var name = $('#username2').val();
			var email = $('#email2').val();
			var mobile = $('#mobileno').val();
			var password = $('#password1').val();
			var cpassword = $('#password2').val();

			if(name==''){
			$('#username2').focus();
			$('.reg_username').delay(2000).fadeOut('slow');
			$('.reg_username').html('Enter your name');
			return false;
			}
			else if(email==''){
			$('#email2').focus();
			$('.reg_email').delay(2000).fadeOut('slow');
			$('.reg_email').html('Enter email address')	;
			return false;
			}
			else if(mobile==''){
			$('#mobileno').focus();
			$('.reg_mob').delay(2000).fadeOut('slow');
			$('.reg_mob').html('Enter Mobile Number')	;
			return false;
			}
			else if(password==''){
			$('#password1').focus();
			$('.reg_password').delay(2000).fadeOut('slow');
			$('.reg_password').html('Enter Password')	;
			return false;
			}
			else if(cpassword==''){
			$('#password2').focus();
			$('.reg_cpassword').delay(2000).fadeOut('slow');
			$('.reg_cpassword').html('Enter Confirm Password')	;
			return false;
			}
			else if(password !== cpassword){
			$('#password2').focus();
			$('#password2').val('');
			$('.reg_ecpassword').delay(2000).fadeOut('slow');
			$('.reg_epassword').text('Both Password should be same');
			return false;
			}
			else{
				var email=$('#email2').val();
    			var u_email=email.trim();
				var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
				if (filter.test(u_email)) {
					var datastr={USEREMAIL:u_email,mobile:mobile};
					jQuery.ajax({
						url: '/email-ajax-check',
              			type: 'post',
						data: datastr,
						success: function(responce){
						if(responce=='email_error'){
							$('#email2').focus();
							$('.reg_email').delay(2000).fadeOut('slow');
							$('.reg_email').html('Email id is already exist');
							$('#email2').val('');
							return false;
						}
						else if(responce=='mob_error'){
							$('#mobileno').focus();
							$('.reg_mob').delay(2000).fadeOut('slow');
							$('.reg_mob').html('Mobile Number is already exist');
							$('#mobileno').val('');
							return false;
						}
						else{
						$('#register').submit();	
						}
						}  	
					});
				}
				else{
				$('#email2').focus();
				$('.reg_email').delay(2000).fadeOut('slow');
				$('.reg_email').html('Enter email address')	;
				$('#email2').val()	;
				return false;
				}
				
			}
		});
	});
</script>
</body>
</html>