<%- include('user-header'); %>
<%- include('user-sidemenu'); %>
<!-- Content
	================================================== -->
	<div class="dashboard-content">
        <div class="row">
            <div class="col-md-12">
                <br>
                Property Entry : 60%
                <div id="progress-bar" style="width:60%;"></div>
                 
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12">

				<div id="add-listing">

				<!-- Section -->
					<div class="add-listing-section margin-top-30">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-picture"></i>Near By Details</h3>
						</div>
						
						<form action="/property/add-nearby-details" method="post" id="add_nearby_details">
						<!-- Row -->
						<% var next=0;%>
						<%for(var a=0;a<obj.landmark.length;a++){ 
							if(obj.landmark_array.indexOf(obj.landmark[a].landmark_id) != -1){
								var chk ="checked";	
								var d_id = obj.distance_array[next];
								next++;
								}
								else{
									var chk ="";		
								}
								%>
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="check-a<%=a%>" type="checkbox" <%=chk%> name="landmark" value="<%=obj.landmark[a].landmark_id%>">
								 <label for="check-a<%=a%>"><%=obj.landmark[a].landmark%></label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <select name="distances" id="distances<%=a%>">
									<option value="">Select Distance</option>
									<% for(var b=0;b<obj.distances.length;b++){
									var selected = (obj.distances[b].landmark_distance_id==d_id)?'selected':'';	
									 %>
									<option value="<%=obj.distances[b].landmark_distance_id%>" <%=selected%>><%=obj.distances[b].distance_details%></option>
									<% } %>
								</select>
							</div> 
						</div>
						<%  d_id=0;  } %>
						<!-- Row / End -->
						<div class="row with-forms">
							<div class="col-md-3">
								<div class="checkboxes in-row margin-bottom-20">
								 <input id="other" type="checkbox" name="other" <% if(obj.other_nearby.length >0){ var ol=obj.other_nearby[0].any_other_landmark%>checked<% } %> value="1">
								 <label for="other">Any Land Mark </label>
								</div>
							</div>
							
							<div class="col-md-6">
							    <input id="check-k" type="text" name="other_nearby" value="<%=ol%>">
							</div> 
						</div>
						<!-- Row / End -->
					</div>
					<!-- Section / End -->
						<!-- Row -->
						<div class="row with-forms">
							<input type="hidden" name="property_id" value="<%=obj.property_id%>">
							<button type="submit" class="button preview pull-right" id="sbt_btn">Submit <i class="fa fa-arrow-circle-right"></i></button>					
						</div>
						<!-- Row / End -->
					</div>
				</form>
					<!-- Section / End -->
				</div>
			</div>
			<script>
				$('document').ready(function(){
				$('#sbt_btn').on('click',function(e){
				e.preventDefault();
					
				$('#add_nearby_details').submit();
				
				});
				});
			</script> 
			
<%- include('user-footer'); %>