<%- include('user-header'); %>
<%- include('user-sidemenu'); %>
	<!-- Content
	================================================== -->
	<div class="dashboard-content">
		<div class="row">
			<!-- Listings -->
			<div class="col-lg-12 col-md-12">
				<div class="dashboard-list-box margin-top-30">
					<h4>You Have already Posted <%=obj.incomplete_property.length%> Property on Nobrokerr</h4>
					<ul>
					<%for(var a=0;a<obj.incomplete_property.length;a++){ %>
					<div class="col-md-6 propety">
						<li>
							<div class="list-box-listing">
								<div class="list-box-listing-img"><a href="/property/property-details/<%=obj.incomplete_property[a].property_id%>"><img style="height:122px;" src="uploads/<%= obj.incomplete_property[a].image_name ? obj.incomplete_property[a].image_name : 'property1.jpg' %>" alt=""></a></div>
								<div class="list-box-listing-content">
									<div class="inner">
										<h3><%=obj.incomplete_property[a].bhk_type%> For <%=obj.incomplete_property[a].property_purpose_name%> In <%=obj.incomplete_property[a].city%></h3>
										<span><%=obj.incomplete_property[a].street%></span><br>
										<a href="/property/property-details/<%=obj.incomplete_property[a].property_id%>"><button class="button pull-left"><i class="fa fa-pencil"></i>Edit</button></a>
										<!--<button class="button gray pull-right">Mark Rented Out </button>-->
									</div>
								</div>
							</div>
						</li>
					</div>
					<% } %>
					</ul>
					
					<hr class="line_property">
					
					<ul>
					<div class="col-md-12 propety">
						<li>
							<div class="list-box-listing">
								<div class="list-box-listing-content">
									<div class="inner">
										<h3>New Property ?</h3>
										<h3>Post Your Poperty For Free</h3>
										<span>Find Tenant and Buyer <br>Without Any Brokerage with NoBrokker.
										</span><br>
										
										<!-- Row -->
							<div class="row with-forms">
							<form action="/property/save-property" method="post" id="property_save">		
								<!-- City -->
								<div class="col-md-8">
									<div class="notification error closeable" style="display: none;">
										<p><span>Error!</span> Please fill in all the fields required.</p>
										<a class="close"></a>
									</div>
									<h5>Type</h5>
									<select class="chosen-select-no-single" name="pro_type" id="pro_type">
										<%for(var a=0;a<obj.pro_type.length;a++){%>
										<option value="<%=obj.pro_type[a].property_type_id%>"><%=obj.pro_type[a].property_type%></option>
										<% } %>
									</select>
									
								</div>

								<!-- Address -->
							  <div class="col-md-12">
								<h5>Purpose Type</h5>
                                    <p>
										<%for(var b=0;b<obj.purpose.length;b++){ %>
										<input type="radio" name="purpose" value="<%=obj.purpose[b].property_purpose_id%>" id="RadioGroup1_<%=b%>"> <%=obj.purpose[b].property_purpose_name%>  
										<% } %>
                                      <br>
                                    </p>
                                
							  </div>
							
						  </div>
							<!-- Row / End -->
										<input type="submit" class="button" id="sbt_btn" value="Post Property">
									</div>
								</div>
							</form>
								<div class="list-box-listing-img" style="max-width: 385px;"><a href="#"><img src="../images/sale.jpg" alt=""></a></div>
							</div>
						</li>
					</div>
						
					</ul>
				</div>
			</div>
<script>
	$('document').ready(function(){
	$('#sbt_btn').on('click',function(e){
		e.preventDefault();
		var pro_type = $('#pro_type option:selected').val();
		var purpose = $("input[name='purpose']:checked").val();
		if (isNaN(purpose)) {
		  $('.error').removeAttr("style");
		  return false;
		}
		else{
			
			$('#property_save').submit();
		}
	});
	});
</script>
            <%- include('user-footer'); %>