<%- include('user-header'); %>
<%- include('user-sidemenu'); %>
<!-- Content
	================================================== -->
	<div class="dashboard-content">
        <div class="row">
            <div class="col-md-12">
                <br>
                Property Entry : 100%
                <div id="progress-bar" style="width:100%;"></div>
                 
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div id="add-listing">
				<!-- Section -->
					<div class="add-listing-section margin-top-30">
						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="fa fa-calendar-check-o"></i> Make House Visit Free By Providing us Your Availablity</h3>
						</div>
						<form action="/property/update-schedule" method="post" id="update_schedule">
						<!-- Row -->
						<div class="row with-forms">
							<div class="col-md-6">
								<h5>Availability <span>*</span></h5>
								<select name="availability" id="availability">
									<option value="">Select Availability</option>
									<% for(var a=0 ;a<obj.schedule.length;a++){ 
									var selected = (obj.schedule[a].available_schedule_id==obj.all_schedule.available_id)?'selected':'';
									%>
									<option value="<%=obj.schedule[a].available_schedule_id%>" <%=selected%>><%=obj.schedule[a].available_schedule%></option>
									<% } %>
								</select>
								<input type="hidden" name="property_id" value="<%=obj.property_id%>">
							</div>
						</div>
						
						<div class="row with-forms">

							<div class="col-md-6">
								<h5>Start Time <span>*</span></h5>
								<input type="time" name="s_date" id="s_date" value="<%=obj.all_schedule.start_time%>">
							</div>

							<div class="col-md-6">
								<h5>End Time<span>*</span></h5>
								<input type="time" name="e_date" id="e_date" value="<%=obj.all_schedule.end_time%>">
							</div>
							
						</div>
						
						<div class="row with-forms">

						<button type="submit" id="sbt_btn" class="button preview pull-right">Submit <i class="fa fa-arrow-circle-right"></i></button>
							
						</div>
					</form>

					</div>
					<!-- Section / End -->					
					</div>
					<!-- Section / End -->
				</div>
			</div>
			<script>
				$('document').ready(function(){
				$('#sbt_btn').on('click',function(e){
				e.preventDefault();
				$('#update_schedule').submit();
				});
				});
			</script> 
<%- include('user-footer'); %>